* {
    box-sizing: border-box;
}

@font-face {
    font-family: DM;
    src: url('../assets/fonts/DMSans_18pt-Regular.ttf');
}

body {
    font-family: DM;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

.menu {
    min-height: 70px;
    display: flex;
    align-items: center;
}

.menu .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu .logo-box img {
    width: 110px;
}

.menu .menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu .menu-items ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-right: 20px;
}

.menu .menu-items ul li {
    margin: 0 10px;
    font-size: 14px;
}

.menu .menu-items ul li a {
    color: #081588;
    font-weight: 600;
}

.menu .menu-items button {
    background-color: transparent;
    border: 1px solid #e94c85;
    color: #e94c85;
    border-radius: 25px;
    padding: 8px 15px;
    font-family: DM;
    font-size: 13px;
    transition: all .2s ease;
    width: 120px;
}

.menu .menu-items button:hover {
    background-color: #e94c85;
    color: #fff;
    transition: all .2s ease;
}

.welcome {
    background-image: url('../assets//images/background1.png');
    height: 500px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.welcome .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.welcome .container .texts {
    color: #fff;
    width: 50%;
}

.welcome .texts p {
    font-size: 13px;
    margin: 0;
}

.welcome .texts h1 {
    font-size: 80px;
    font-weight: bold;
}

.welcome .buttons {
    margin-top: 20px;
}

.welcome .buttons button {
    padding: 10px 25px;
    border-radius: 25px;
    border: 0;
    font-size: 10px;
    color: #fff;
}

.welcome .buttons button:first-child {
    background-color: #e94c85;
}

.welcome .buttons button:last-child {
    background-color: transparent;
}

.welcome .icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 90%;
}

.welcome .icons svg {
    color: #fff;
    margin: 0 2px;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 50%;
}

.brands {
    height: 150px;
}

.brands .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.brands .container img {
    width: 150px;
}

.about-us {
    background-color: #f6f6f8;
    padding: 20px 0 60px 0;
}

.about-us .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us p {
    color: #e94c85;
    font-size: 12px;
    margin: 50px 0 10px 0;
    font-weight: bold;
}

.about-us h2 {
    text-align: center;
    color: #081588;
    font-weight: bold;
    line-height: 1.5;
}

.about-us .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-us .box .right {
    padding: 40px 100px 40px 0px;
    width: 30%;
}

.about-us .box .right p {
    color: #858585;
    line-height: 2;
    text-align: justify;
    font-weight: normal;
    margin: 0;
}

.about-us .box .right img {
    width: 130px;
    margin-top: 15px;
}

.about-us .box .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us .box .left img {
    width: 500px;
}

.about-us .box2 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about-us .left {
    width: 25%;
}

.about-us .box2 span {
    color: #e94c85;
    font-size: 14px;
}

.about-us .box2 h3 {
    color: #081588;
    font-weight: bold;
    font-size: 35px;
}

.about-us .box2 p {
    color: #858585;
    margin: 0;
    font-size: 13px;
    line-height: 2;
    font-weight: normal;
    text-align: justify;
}

.about-us .box2 button {
    width: 230px;
    padding: 10px 25px;
    border-radius: 25px;
    border: 0;
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #e94c85;
}

.about-us .right {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-us .right .box {
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    margin: 10px 10px 0 0;
    border-radius: 20px;
    cursor: pointer;
    transition: all .2s ease;
}

.about-us .right .box:hover {
    background-color: #051584;
    transition: all .2s ease;
}

.about-us .right .box h4 {
    color: #081588;
    font-weight: bold;
    font-size: 18px;
    transition: all .2s ease;
}

.about-us .right .box:hover h4 {
    color: #fff;
    transition: all .2s ease;
}

.about-us .right .box p {
    font-size: 12px;
    line-height: 2;
    transition: all .2s ease;
}

.about-us .right .box:hover p {
    color: #d8d8d8;
    transition: all .2s ease;
}

.about-us .right .box svg {
    color: #e94c85;
    margin-bottom: 10px;
    transition: all .2s ease;
}

.about-us .right .box:hover svg {
    color: #fff;
    transition: all .2s ease;
}

.team-work {
    padding: 30px 0;
}

.team-work .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-work .container p {
    font-size: 12px;
    color: #e94c85;
}

.team-work .container h4 {
    text-align: center;
    color: #081588;
    font-weight: bold;
    font-size: 30px;
}

.team-work .container .images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.team-work .container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-work .container .box .image {
    background-color: #e94c85;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

#image1 {
    background-image: url('../assets/images/1.jpg');
}

#image2 {
    background-image: url('../assets/images/2.jpg');
}

#image3 {
    background-image: url('../assets/images/3.png');
}

#image4 {
    background-image: url('../assets/images/4.jpg');
}

.team-work .container .box h5 {
    color: #081588;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}

.team-work .container .box p {
    font-size: 13px;
    margin-bottom: 30px;
}

.team-work .container .box svg {
    color: #858585;
    margin-left: 5px;
    cursor: pointer;
}

.team-work .container .box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.team-work .container .box2 .box div {
    display: flex;
    flex-direction: row;
}

.team-work .container .box2 .box {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.team-work .container .box2 .box p {
    color: #858585;
    margin-left: 10px;
    margin-top: 20px;
}

.team-work .container .box2 .box div h6 {
    color: #e94c85;
    font-size: 35px;
    font-weight: bold;
}

.team-work .container .box2 .box div p {
    font-size: 19px;
    color: #e94c85;
    margin: 0;
}

.team-work .container .box svg:first-child {
    margin: 0;
}

.news {
    background-color: #f6f6f8;
    padding: 80px 0;
}

.news p {
    margin-left: 80px;
    font-size: 15px;
    color: #e94c85;
    margin-bottom: 5px;
}

.news h5 {
    margin-left: 80px;
    font-size: 30px;
    color: #081588;
    font-weight: bold;
    width: 25%;
    margin-bottom: 50px;
}

.news .box {
    width: 25%;
}

#news1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9pGcw0EguEMSMAVo9O1Su1bAQ0tr6DPugM4_tU_bn-YjtXbU17hNeYSuw9JLbJNOOz3I&usqp=CAU');
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.news .box div p {
    margin: 0;
    background-color: #fff;
    padding: 5px 22px;
    font-size: 13px;
    border-radius: 25px;
    color: #e94c85;
}

.news .box h6 {
    color: #081588;
    font-weight: bold;
    font-size: 17px;
    margin: 0 0 15px 0;
}

.news .box p {
    font-size: 13px;
    color: #858585;
    line-height: 2;
    margin: 0;
}

.question .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 0;
}

.question .left h3 {
    color: #081588;
    font-weight: bold;
}

.question .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.question .right input {
    width: 500px;
    border: 1px solid #858585;
    padding: 15px 15px;
    border-radius: 25px;
    font-size: 13px;
    position: relative;
}

.question .right button {
    padding: 15px 15px;
    border-radius: 25px;
    font-size: 13px;
    width: 150px;
    background-color: #e94c85;
    color: #fff;
    border: 0;
    position: absolute;
    right: 250px;
}

footer {
    background-color: #081588;
    height: 350px;
}

footer .container {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 30px;
    border-bottom: 1px solid #495bff;
    color: #fff;
}

footer .box {
    width: 20%;
}

footer .box img {
    width: 130px;
    margin-bottom: 20px;
}

footer .box p {
    color: #fff;
    font-size: 15px;
}

footer .box h5 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

footer .box ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .box ul li {
    color: #858585;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .2s ease;
}

footer .box ul li:hover {
    color: #fff;
    transition: all .2s ease;
}

footer .box h6 {
    color: #fff;
    font-size: 18px;
}

footer .box .address {
    margin-top: 10px;
}

footer .box .address p {
    margin: 0;
    font-size: 14px;
}


/*


--------------------------------------------------------------------------------
===================================== Blog =====================================
________________________________________________________________________________


*/

.menu2 {
    height: 250px;
    align-items: flex-start;
    color: #f6f6f8;
}

.menu2 h1 {
    color: #081588;
    margin-bottom: 0;
    font-weight: bold;
}

.menu2 p {
    color: #081588;
}

.news button {
    background-color: #e94c85;
    padding: 10px 25px;
    border: 0;
    border-radius: 25px;
    font-size: 12px;
    color: #fff;
    margin-top: 30px;
}

/*


-----------------------------------------------------------------------------------
===================================== Contact =====================================
___________________________________________________________________________________


*/

.contact {
    padding: 80px 0;
    background-color: #f6f6f8;
}

.contact .container h2 {
    color: #081588;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 35px;
}


.contact .container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 900px;
    margin-bottom: 50px;
}

.contact .container form div {
    width: 100%;
    margin-bottom: 10px;
}

.contact .container form div input {
    width: 280px;
    border: 1px solid #d8d8d8;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 15px;
}

.contact .container form textarea {
    border: 1px solid #d8d8d8;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
}

.contact .container form button {
    padding: 8px 25px;
    background-color: #e94c85;
    color: #fff;
    border: 0;
    border-radius: 25px;
    font-size: 12px;
    margin-top: 20px;
}

.contact .container div h3 {
    color: #081588;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.contact .container div div h4 {
    color: #e94c85;
    margin: 0 0 5px 0;
    font-weight: bold;
}

/*


---------------------------------------------------------------------------------
===================================== Price =====================================
_________________________________________________________________________________


*/

.price {
    background-color: #f6f6f8;
}

.price .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.price .container span {
    color: #e94c85;
    font-size: 13px;
    margin-bottom: 10px;
}

.price .container h2 {
    color: #081588;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 36px;
}

.price .box {
    padding: 40px 30px 20px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.price .box p {
    color: #081588;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.price .box h4 {
    font-size: 50px;
    color: #e94c85;
    font-weight: bold;
}

.price .box ul li {
    color: #858585;
    font-size: 15px;
    list-style: circle;
}

.price .box button {
    border: 0;
    background-color: #e94c85;
    color: #fff;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 14px;
    margin-top: 20px;
}

/*


---------------------------------------------------------------------------------
===================================== About =====================================
_________________________________________________________________________________


*/

.about {
    padding: 50px 0;
    background-color: #f6f6f8;
}

.about .box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.about .box .left {
    width: 30%;
}

.about .box .right {
    width: 55%;
}

.about .box img {
    width: 100%;
}

.about .box .left h2 {
    color: #081588;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px;
}

.about .box .left span {
    color: #e94c85;
    font-size: 14px;
}

.about .box .left p {
    color: #858585;
    text-align: justify;
    font-size: 15px;
    line-height: 2;
}

.about .box .box2 {
    width: 25%;
}

.about .box .box2 h3 {
    color: #081588;
    border-bottom: 1px solid #d8d8d8;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.about .box .box2 span {
    color: #e94c85;
    font-weight: bold;
    font-size: 17px;
}

.about .box .box2 p {
    color: #858585;
    margin-top: 5px;
    font-size: 15px;
    text-align: justify;
    width: 95%;
}

/*


----------------------------------------------------------------------------------------
===================================== Blog Details =====================================
________________________________________________________________________________________


*/

.blog-details {
    background-color: #f6f6f8;
}

.blog-details .container {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog-details .left {
    width: 50%;
}

.blog-details .right {
    width: 20%;
    margin-left: 40px;
}

.blog-details .left h2 {
    color: #081588;
    font-weight: bold;
    font-size: 35px;
    margin-top: 30px;
}

.blog-details .left p.info {
    color: #858585;
    font-size: 14px;
}

.blog-details .left p.content {
    text-align: justify;
    line-height: 2;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 20px;
    padding-bottom: 20px;
}

.blog-details .left .end-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.blog-details .left .end-box p {
    padding: 5px 20px;
    background-color: #e94c85;
    color: #fff;
    border-radius: 25px;
    margin-right: 5px;
}

.blog-details .left .comments h3 {
    color: #081588;
    font-weight: bold;
    margin-bottom: 20px;
}

.blog-details .left .comments li {
    display: flex;
    flex-direction: column;
}

.blog-details .left .comments li img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.blog-details .left .comments li div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.blog-details .left .comments li div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.blog-details .left .comments li div div h5 {
    margin-bottom: 0;
}

.blog-details .left .comments li div div p {
    margin-bottom: 0;
    color: #858585;
    font-size: 12px;
    margin-left: 10px;
}

.blog-details .left .comments form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    margin-top: 30px;
}

.blog-details .left .comments form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.blog-details .left .comments form div input {
    width: 320px;
    padding: 13px 20px;
    border-radius: 25px;
    border: 1px solid #d8d8d8;
}

.blog-details .left .comments form textarea {
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    border: 1px solid #d8d8d8;
}

.blog-details .left .comments form button {
    background-color: #e94c85;
    border: 0;
    border-radius: 25px;
    padding: 10px 30px;
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
}

.blog-details .right .categories h3 {
    color: #081588;
    font-weight: bold;
    margin-bottom: 20px;
}

.blog-details .right .categories ul {
    padding-left: 0;
}

.blog-details .right .categories li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blog-details .right .blogs h3 {
    color: #081588;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.blog-details .right .blogs ul {
    padding-left: 0;
}

.blog-details .right .blogs li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.blog-details .right .blogs li img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.blog-details .right .blogs li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.blog-details .right .blogs li div h6 {
    color: #081588;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.blog-details .right .blogs li div p {
    margin-bottom: 0;
    color: #e94c85;
    font-size: 15px;
}

.blog-details .right .tags h3 {
    color: #081588;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.blog-details .right .tags div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blog-details .right .tags div p {
    border: 1px solid #d8d8d8;
    padding: 5px 15px;
    border-radius: 25px;
    margin-right: 5px;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0;
    }

    .menu .container {
        flex-direction: column;
        align-items: center;
    }

    .menu .menu-items ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .menu .menu-items ul li {
        margin: 10px 0;
    }

    .menu .logo-box img {
        width: 90px;
    }

    .welcome .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .welcome .texts {
        width: 90%;
    }

    .welcome .texts h1 {
        font-size: 50px;
    }

    .brands .container img {
        width: 20%;
    }

    .about-us .box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-us .box .right,
    .about-us .box .left {
        width: 90%;
    }

    .about-us p {
        font-size: 11px;
    }

    .about-us h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .about-us .box .left img {
        width: 90%;
    }

    .about-us .box .right {
        justify-content: center;
        padding: 20px 40px;
    }

    .about-us .box2 {
        flex-direction: column;
        align-items: center;
    }

    .about-us .box2 .left,
    .about-us .box2 .right {
        width: 90%;
    }

    .about-us .box2 .left span {
        font-size: 11px;
        font-weight: bold;
    }

    .about-us .box2 .left h3 {
        font-size: 25px;
    }

    .about-us .box2 .left p {
        font-size: 12px;
    }

    .about-us .box2 .left button {
        width: 150px;
        font-size: 11px;
        padding: 10px 15px;
    }
    
    .about-us .box2 .right .box p {
        font-size: 11px;
    }

    .team-work .container .images {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 0;
    }

    .team-work .container .images .box {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }

    .team-work .container .images .box div.image {
        width: 80px;
        height: 80px;
    }

    .team-work .container .images .box h5 {
        font-size: 16px;
    }

    .team-work .container .images .box p {
        font-size: 10px;
        margin-top: 5px;
    }

    .team-work .container .box {
        width: 80%;
    }

    .team-work .container .box2 {
        flex-direction: column;
    }

    .team-work .container .box2 .box {
        width: 80%;
    }

    .team-work .container .box2 .box div h6 {
        font-size: 30px;
    }

    .team-work .container .box2 .box div p {
        font-size: 18px;
    }

    .team-work .container .box2 .box p {
        font-size: 10px;
    }

    .news h5,
    .news p {
        margin-left: 20px;
    }

    .news p {
        font-size: 11px;
        font-weight: bold;
    }

    .news h5 {
        width: 60%;
        font-size: 25px;
    }

    .news .box {
        width: 90%;
        margin: 0 auto 30px auto;
    }
    
    .news .box p {
        font-size: 11px;
    }

    .news .box #news1,#news2,#news3 {
        height: 200px;
    }

    .question .container {
        flex-direction: column;
        align-items: center;
    }

    .question .right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .question .right input {
        width: 300px;
    }

    .question .right button {
        width: 120px;
        right: 38px;
    }

    footer {
        height: 800px;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }

    footer .box {
        width: 90%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .box ul {
        width: 60%;
    }

    .contact .container form {
        width: 90%;
    }

    .price .container {
        padding: 30px 0;
    }

    .about .box {
        flex-direction: column;
        align-items: center;
    }

    .about .box .left,
    .about .box .right {
        width: 90%;
    }

    .blog-details .container {
        flex-direction: column;
        align-items: center;
    }

    .blog-details .left,
    .blog-details .right {
        width: 90%;
    }
}

#collapseBtn {
    display: none;
}
#collapseBtn:hover,
#collapseBtn:focus{
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 480px) {
    .menu .menu-items {
        display: none;
    }
    #collapseBtn {
        display: inline-block;
    }
    #collapseBody{
        display: block;
    }
    .menu .menu-items button {
        width: 100px;
        padding: 5px 10px;
    }

    .welcome .texts h1 {
        font-size: 40px;
    }

    .welcome .texts p {
        font-size: 11px;
    }

    .about-us .box .right img {
        width: 100px;
    }

    .team-work .container .box .image {
        width: 150px;
        height: 150px;
    }

    .team-work .container .box h5 {
        font-size: 20px;
    }

    .contact .container h2 {
        font-size: 30px;
    }

    .price .container h2 {
        font-size: 30px;
    }

    .price .box h4 {
        font-size: 40px;
    }

    .about .box .left h2 {
        font-size: 25px;
    }

    .about .box .left p {
        font-size: 13px;
    }

    .blog-details .left h2 {
        font-size: 30px;
    }

    .blog-details .left p.info {
        font-size: 12px;
    }

    .blog-details .left p.content {
        font-size: 14px;
    }

    .blog-details .right .categories h3,
    .blog-details .right .blogs h3,
    .blog-details .right .tags h3 {
        font-size: 20px;
    }
}